<div ng-controller="UpdateCtrl">
    Your location is {{user_coords}}
    <div ng-controller="MapCtrl">
        <div class="row">
            <div class="col-md-9 col-md-push-3">
                <div class="google-map"
                     center='map.center'
                     zoom='map.zoom'
                     draggable="true">
                    <markers models="map.markers" coords="'self'">
                    </markers>
                </div>
            </div>
            <div class="col-md-3 col-md-pull-9">
                <div ng-repeat="update in updates">
                    <accordion close-others="oneAtATime">
                        <accordion-group>
                            <accordion-heading>
                                {{update.body.update}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                            </accordion-heading>
                            Shared by {{update.from}} at {{update.body.date}}
                            position: {{update.body.lat}},{{update.body.long}}
                            <a ng-click="showOnMap(update.body.lat,update.body.long)">show on map</a>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
        </div>
    </div>
    <div>
        <input type="text" ng-model="name" placeholder="Name">
        <input type="text" ng-model="update" placeholder="Update...">
        <!--make a checkbox to choose category??-->
        <button ng-click="addMessage()">Add Update</button>
    </div>
</div>