<h2> Sign up and begin the Sizzle experience</h2>
<div ng-controller="SignupCtrl">

</div>
Email <input type="text" ng-model="email"
       placeholder="enter valid email"></br>
Username <input type="text" ng-model="username"
       placeholder="choose username"></br>
Password <input type="text" ng-model="password"
       placeholder="choose password"></br>
Confirm Password <input type="text" ng-model="password_confirm"
       placeholder="confirm password"></br>
        <!--add custom lat and long??-->
<!--add button to call addUser()-->